@charset "UTF-8";

/* Reset */
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    height: 100vh;
    background-image: url('imagens/espaco.jpg');
    background-size: 100%;
}

div {
    height: 100vh;
    background-image: url('imagens/astronauta.png');
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center center;
    back
}