@charset "UTF-8";


* {
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

/* body {
    overflow-x: hidden
} */

header {
    background-color: black;
    color: white;
    padding: 60px 0px;
    text-align: center;
    font-size: 8vmin;
}

h1 {
    font-family: 'Passion One', cursive;
}

h2 {
    font-size: 0.5em;
    padding: 20px;
}

pre {
    font-family: 'Sriracha', cursive;
    max-width: fit-content;
    font-size: 6vmin;
    padding-left: 20px;
    line-height: 14vmin;
}

pre.img {
    background-color: rgba(0, 0, 0, 0.295);
    color: white;
}

div {
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

div.bg1 {
    background-image: url('imagens/background001.jpg');
}

div.bg2 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    padding: 3px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}